/* mixins */
@mixin ifonts($fontsize, $margintop, $color){
    font-size: $fontsize;
    margin-top: $margintop;
    color: $color;
}


article{
    float: left;
    max-width: 100%;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

article .content__article{
    display: inline-flex;
    .content__article--side{
        figure{
            img{ max-width: 85%; } 
        } 
    }
}

article .content__article{
    .content__article--content{ 
        .content__article--head{
            a{ 
                text-decoration: none; 
                color:#222; 
                h2{ font-size: 22px; }
            }
            padding-top: 1%;
            padding-bottom: 5%; 
        }
        p{ padding-right: 25%; }

       .content__article--footer{
            margin-top: 4%;
            display: inline-flex;
            .content__footer--item{
                margin-left: 55%;
                margin-right: 55%; 
            }   
           .footer__share{
                a{ i{ @include ifonts(30px, 3%, #222222 );}} 
            }
           .footer__like{
                a{ i{ @include ifonts(30px, 3%, #222222); } } 
           }
           .footer__readmore{ 
               a{ i{ @include ifonts(30px, 3%, #222222); } } 
           } 
       } 
    }
}

@import 'mq_article.scss';

