.main__container{
    main{
        background-color: #ddd;
        display: inline-flex;
        section{
            width: 50%;
            margin: 0 auto;
            overflow: hidden;
            padding-top: 2%;
            padding-bottom: 2%;
            .lang-mobile{
                display: none;
            }
        }
       .section__left{
            width: 20%;
            position: relative;
            .section__left--content{
                padding-top: 10%;
                padding-left: 15%;
                position: fixed;
                .section__left-lang{
                    .lang__active{
                        a{
                            color: #a91b28;
                        }
                    }
                    text-align: right;
                    li{
                        margin-top: 45%;
                        margin-bottom: 45%;
                        a{
                            text-decoration: none;
                            color: #222;
                        }
                        a:hover{ color: #a91b28; }
                    } 
                }
            }
        }
       .section__right{ width: 20%; } 
    }
}

@import 'mq_home.scss';
