$tablet: 720px;
$mobile: 480px;

/* display for table devices */
@media screen and (max-width: $tablet){
    body{
        main{
            background-color: blue; 
        } 
    }
}

/* display for mobile devices */
@media screen and (max-width: $mobile){
   .main__container{
      main{
         background-color: #ddd;
         section{
            width: 90%;
            padding-top: 5%;
           .lang-mobile{
               display: block;
            } 
        }
       .section__left{
            display: none;
        }
       .section__right{
            display: none;
        } 
      } 
   } 
}
