body{
    font-family: 'Roboto', sans-serif;
}
.main__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 0.1em;
    
    header, footer{
        grid-column: 1 / span 6;
    }

    main{
        grid-column: 1 / span 6; 
    } 
}


@import 'mq_theme.scss'
